
@media (max-width: 700px){
  body{
    overflow: hidden;
  }
 nav {

  & {
    .list-menu-items {
      position: absolute;
   display: flex;
   top: 0;
   right: -100%;
   transition: right .5s ease-in;
   background: #222;
   width: 200px;
   z-index: 900;

   padding: 4.4rem 3rem;
   padding-top: 8rem;
   flex-direction: column;
   &{
    a{
      color: #fff;
    }
   }
  }
    .btn-menu-mobile{
      position: relative;
      display: flex !important;
      align-items: center;
      transition: transform .5s;
      z-index: 9000;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.418);
    }
    [data-menu="button"]::before{
      content: '';
      height: 2px;
      width: 20px;
      background: #fff;
      display: inline-block !important;
      box-shadow: 0 4px #fff, 0 -4px #fff;
      margin-right: 4px;
    }
    .btn-menu-mobile.active::before{
      transform: rotate(90deg);
    }
    [data-menu="list-menu"].active{
      right: 0;
      transition: right .5s ease-in-out;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    }
  }
 }
}

